.navigation{
    /*text-align: right;*/
    /*width: 20%;*/
    /*height: 20%;*/
}

.fourTitle{
    color: grey;
}

/*设置表单位置*/
.loginform{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: -170px;
    margin-left: -100px;
}
.showSize{
    width: 100%;
    height: 100%;
}
.pestSize{
    width: 45%;
    height: 45%;
    border-radius:5px 5px 0 0;
    border: 1px solid #e5e5e5;
}
.headmenu{
    position: absolute;
    right: 3%;
}
.addBorder{
    background-color: rgba(255, 245, 238, 0.44);
    /*边框*/
    border: solid 1px rgba(255, 245, 238, 0.68);
    /*边角弧度*/
    border-radius: 2px;
    /*阴影
    -moz-box-shadow:2px 2px 5px #ffcccc;
    -webkit-box-shadow:2px 2px 5px #ff9999;
    box-shadow: 7px 15px 30px #ff9999;*/
}
.wordStyle{
    position:absolute;
    z-index:2;
    top: 30%;
    color: white;
    font-weight: bolder;
    /*font-family: "Microsoft YaHei UI";*/
    font-size: 43px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}


/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
    transition: all .10s ease-in-out;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(0, 0,1000,1000);
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translateY(150px);
    opacity: 0;
}

/*设置超链接没有样式*/
a{text-decoration:none}
.text {
    font-size: 14px;
}
.item {
    margin-bottom: 18px;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}
.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}
.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}
.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}
.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}